


{% extends 'main.html' %}


 
<main>
{% block content %}

{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
<div class="container">
   <div class="container">
		       <div class="sm-2">
    <div class="row row-cols-2 row-cols-sm-2 g-2">
			<img src="{{url_for('static', filename='logo.jpg')}}" class="d-block w-5">

      <div class="col">
        <div class="card">


          <div class="card-body">
	</div>

        <h2>A Deep Learning based WebApp model</h2>
		<b>Model Accuracies:</b>
     <p>Pneumonia Model: <strong>95%</strong></p>
		<div class="container">
		        <div class="row">
            <div class="col-md-24 card card-body" style="box-shadow: 0 0 10px black; margin:10px;">
                <h4>Pneumonia</h4>
                <p>Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.</p>
                <h5>Symptoms</h5>
                <ul>
                    <li>Cough, which may produce greenish, yellow or even bloody mucus.</li>
                    <li>Fever, sweating and shaking chills.</li>
                    <li>Shortness of breath.</li>
                    <li>Rapid, shallow breathing.</li>
                </ul>
            </div>
        </div>

    </div>
</div>
 <br>
        
     


      
</div>
</div>
</div>
</div>
</div>
</div>
       
        

        <br>

{% endblock %}